{% extends 'base.html' %}

{% block content %}

<div style="max-width: 500px; margin: auto; background: white; padding: 2rem; border-radius: 10px;">

    <h2>Alterar Senha</h2>

    {% if messages %}
        {% for message in messages %}
            <div style="padding:10px; margin-bottom:15px; background:#d4edda; color:#155724; border-radius:5px;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            Alterar Senha
        </button>
    </form>

</div>

{% endblock %}